<!DOCTYPE html>
<html>
    <head>
        <title>MiniTube</title>
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <h1>Welcome to miniTube</h1>
        <div>
            Upload Video
            <form action="/upload" method="get">
                <button id="upload">Upload</button>
            </form>
            <form action="/video" method="get">
                <input type="search" id="video_search" name="video_search">
                <input type="submit">
            </form>
        </div>
    </body>
</html>