<!DOCTYPE html>
<html>
    <head>
        <title>MiniTube</title>
        <link rel="stylesheet" href="css/stylesheet.css">
        <script src="js/homepage.js"></script>
    </head>
    <body>
        <div id="top_bar">
            <form action="/upload" method="get">
                Upload Video
                <button id="upload">Upload</button>
            </form>
            <h1>MiniTube</h1>
            <form action="/video" method="get">
                Search:
                <input type="search" id="video_search" name="video_search">
                <input type="submit">
            </form>
        </div>
        <h2>Videos:</h2>
        <div id="video_list">
            <!--FORGIVE ME!-->
            <%video_list.forEach((v)=>{%>
                <div onclick = <%=`send_to_video("${v.metadata.channel_id}",${v.metadata.video_id})`%>>
                    <%=v.filename%>
                </div>
            <%})%>
        </div>
    </body>
</html>