<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniTube</title>
    <script src="../js/video_play.js"></script>
    <style>
      body {
        margin: 40px auto;
        background-color: #242323;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        font-family: "Courier New", Courier, monospace;
        color: #242323;
        padding: 0 10px;
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <form action="/" method="get">
        <button type="submit">Homepage</button>
    </form>
    <video id="video_player" width="850" height="500" controls muted="muted" autoplay>
        <source id='video_source' src="" type="video/mp4" />
    </video>
    <h3>Desc</h3>
    <p>
        <%=desc%>
    </p>
</html>