body{
    background-color: #29283323;
}

#video_list{
    display: flex;
    flex-wrap: nowrap;
}

#video_list > div{
    background-color: #3e3e3f23;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}