body{
    background-color: #29283323;
    margin-left: 10px; 
    margin-right: 30px;
}

#top_bar{
    display: flex; 
    justify-content: space-between;
}

#top_bar > form{
    transform:translateY(35%);
}

#video_list{
    display: flex;
    flex-wrap: nowrap;
}

#video_list > div{
    background-color: #3e3e3f23;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}